.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 95%;
  height: 95%;
  border-radius: 25px;

  h1 {
    font-size: 2vw;
  }

  .loginBlock {
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 55%;
    border: none;
    margin-top: -2%;

  }

  .loginMenuNone {
    display: none;
    position: absolute;
  }

  .loginMenu {
    display: flex;
    position: absolute;
    margin-top: 30%;
  }


  .inputBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    position: relative;
  }

  .phoneInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  input {
    border: none;
    outline: none;
    width: 80%;
    padding: 3px;

    &::-ms-reveal {
      display: none;
    }
  }


  .homeLinkBlock {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 2%;
  }

  .linkHome {
    text-decoration: none;
    color: #164f48;
    font-size: 1vw;
  }

  .submit {
    cursor: pointer;
    background-color: #164f48;
    border-radius: 5px;
  }

}

@media screen and (max-width: 1100px) {
  .loginContainer {
    .loginBlock {
      width: 40%;
    }

    .homeLinkBlock {
      width: 45%;
    }
  }
}

@media screen and (max-width: 900px) {
  .loginContainer {
    .homeLinkBlock {
      width: 50%;
    }

    .linkHome {
      font-size: 1.2vw;
    }
  }
}

@media screen and (max-width: 750px) {
  .loginContainer {
    .loginBlock {
      width: 55%;
      box-shadow: none;
    }

    h1 {
      font-size: 3vw;
    }


    .homeLinkBlock {
      width: 55%;
    }

    .linkHome {
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 550px) {
  .loginContainer {
    .loginBlock {
      width: 85%;
    }

    h1 {
      font-size: 4vw;
    }

    .homeLinkBlock {
      width: 55%;
    }

    .linkHome {
      font-size: 2.5vw;
    }
  }
}