.basketZeroWrapper {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .basketNone {
    display: none;
  }

  .basketZero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    justify-content: space-evenly;
    text-align: center;
    p {
      color: #868695;
      font-size: 2vw;
    }

    .linkButton {
      display: block;
      border: solid 1px;
      border-radius: 5px;
      padding: 1%;
      text-decoration: none;
      background-color: #164f48;
      color: #fff;
    }
  }

  .basketWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 50vh;
    margin: 2%;
    .basketProductsBlock {
      background-color: #fff;
      width: 70%;
      border-radius: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 2%;
      text-align: center;

      justify-content: center;
      .basketProductsList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 30%;
        margin: 1%;
        position: relative;
        .productImg {
          width: 10%;
          height: 100%;
        }
        .itemInfoBloc {
          display: flex;
          flex-direction: column;
          font-size: 1.5vw;
        }
        .itemButtonBlock {
          width: 10%;
          display: flex;
          justify-content: space-evenly;
          font-size: 1.8vw;
          button {
            border: none;
            background-color: #fff;
            cursor: pointer;
          }
        }

        .productDeleteBlock {
          position: absolute;
          margin-top: -0.3%;
          right: -5%;

          button {
            border: none;
            background-color: #fff;
            background-image: url("../../../logo/basket_remove.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 15px;
            height: 15px;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
    .basketPayBlock {
      display: flex;
      position: sticky;
      background-color: #fff;
      width: 25%;
      max-height: 50vh;
      border-radius: 5%;
    }
  }
  .basketWrapperNone {
    display: none;
  }
}

@media screen and (max-width: 1054px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketProductsBlock {
        width: 80%;
        .basketProductsList {
          width: 90%;
          .productImg {
            width: 20%;
          }
          .itemInfoBloc {
            font-size: 2vw;
          }
          .itemButtonBlock {
            width: 25%;
            font-size: 3vw;
          }
          
          .productDeleteBlock {
            margin-top: -0.5%;
            button {
              background-size: 100% 100%;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .basketPayBlock {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketProductsBlock {
        width: 90%;
        .basketProductsList {
          .itemInfoBloc {
            font-size: 2.5vw;
          }
          .productDeleteBlock {
            margin-top: -1%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketProductsBlock {
        .basketProductsList {
          .productDeleteBlock {
            margin-top: 0;
            button {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}
