
.basketZeroWrapper {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .basketNone {
    display: none;
  }

  .basketZero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    justify-content: space-evenly;
    text-align: center;
    p {
      color: #868695;
      font-size: 2vw;
    }

    .linkButton {
      display: block;
      border: solid 1px;
      border-radius: 5px;
      padding: 1%;
      text-decoration: none;
      background-color: #164f48;
      color: #fff;
    }
  }

  .basketWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 50vh;
    margin: 2%;
    .basketProductsBlock {
      background-color: #fff;
      width: 70%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 2%;
      text-align: center;

      justify-content: center;
      .basketProductsList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 30%;
        margin: 1%;
        position: relative;
        .productImg {
          width: 10%;
          height: 100%;
        }
        .itemInfoBloc {
          display: flex;
          flex-direction: column;
          font-size: 1.5vw;
        }
        .itemButtonBlock {
          width: 15%;
          display: flex;
          justify-content: space-evenly;
          font-size: 2.5vw;
          button {
            border: none;
            background-color: #fff;
            cursor: pointer;
          }
        }

        .productDeleteBlock {
          position: absolute;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          right: -5%;

          button {
            border: none;
            background-color: #fff;
            background-image: url("../../../logo/basket_remove.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 20px;
            height: 20px;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
    .basketPayBlock {
      display: flex;
      position: sticky;
      top: 0;
      background-color: #fff;
      width: 25%;
      max-height: 50vh;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      .itemPayInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 85%;
        height: 85%;
        .cityTextBlock {
          opacity: 0.5;
        }
        .paymentMethodLink {
          text-decoration: none;
          color:#164f48;
        }
        .deliveryLink {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: black;
          &:hover {
            color: #164f48;
            background-color: transparent;
          }
          &::after {
            content: "";
            display: block;
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23BDBDCB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12.407.258a.89.89%200%200%201%201.253%200l2.08%202.08a.885.885%200%200%201%200%201.253l-1.627%201.626-3.332-3.333L12.407.258ZM0%2012.665l9.83-9.83%203.333%203.333-9.83%209.83H0v-3.333Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            background-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
          &:hover {
            filter: sepia(2) hue-rotate(79deg) saturate(4);
          }
        }
        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        button {
          width: 100%;
          padding: 2%;
          background-color: #164f48;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .inputCheckboxContainer {
          display: flex;
          justify-content: space-around;
          .linkAgreement {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: black;
            &:hover {
              color: #164f48;
            }
            &::before {
              content: "";
              background-image: url("../../../logo/Tick_Mark_icon-icons.com_69146.png");
              background-repeat: no-repeat;
              background-size: 15px 15px;
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
  .basketWrapperNone {
    display: none;
  }
}

@media screen and (max-width: 1054px) {
  .basketZeroWrapper {
    .basketWrapper {
      flex-direction: column;
      align-items: center;
      
      .basketProductsBlock {
        width: 90%;
        .basketProductsList {
          width: 90%;
          .productImg {
            width: 20%;
          }
          .itemInfoBloc {
            font-size: 2vw;
          }
          .itemButtonBlock {
            width: 25%;
          }

          .productDeleteBlock {
            button {
            }
          }
        }
      }
      .basketPayBlock {
        min-height: 40vh;
        width: 90%;
        padding: 1% 0 1% 0;
        margin-top: 3%;
        .itemPayInfoBlock {
          min-height: 40vh;
          width: 95%;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketProductsBlock {
        width: 90%;
        .basketProductsList {
          .itemInfoBloc {
            font-size: 2.5vw;
          }
          .itemButtonBlock {
            font-size: 3vw;
          }
          .productDeleteBlock {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketProductsBlock {
        .basketProductsList {
          .itemButtonBlock {
            font-size: 5vw;
          }
          .productDeleteBlock {
            button {
              width: 17px;
              height: 17px;
            }
          }
        }
      }

    }
  }
}
@media screen and (max-width: 600px) {
  .basketZeroWrapper {
    .basketWrapper {
      .basketPayBlock {
        min-height: 30vh;
        .itemPayInfoBlock {
          font-size: 3vw;
          min-height: 30vh;
        }
      }

    }
  }
}
