.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 5%;


    .elKutbi {
        font-size: 5vw;
        color: white;
    }

    .formText {
        margin: 10px;
        font-size: 2vw;
        color: white;
    }

    
    .input {
        padding: 10px;
        width: 90%;
        margin: 10px;
        border-radius: 10px;
        background-color: white;
        outline: none;
    }
    
    @media screen and (min-width: 740px) {
        .input {
            width: 50%;
        }
    
    } 
}