.button_wrapper {
  border: solid 1px black;
}

.favoritesNone {
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.favoritesActive {
  width: 15px;
  height: 15px;
  background-color: red;
  transform: rotate(45deg);
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;

}

.favoritesActive::before,
.favoritesActive::after {
    content : ''; 
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%; 
    position: absolute;
}
.favoritesNone::before,
.favoritesNone::after {
    content : ''; 
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%; 
    position: absolute;
}

.favoritesActive::before {
  top: -8px;
  left: 0;
}

.favoritesActive::after {
  top: 0;
  left: -8px;
}
.favoritesNone::before {
  top: -8px;
  left: 0;
}

.favoritesNone::after {
  top: 0;
  left: -8px;
}