.formPage {
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 1%;
}

@media screen and (max-width: 1024px) {
  .formPage {
    border-radius: 0;
  }
}
