.favoritesNone {
  display: flex;
  background-image: url("../../../logo/image (7) (6).png");
  background-repeat: no-repeat;
  background-size: 40px 20px;
  width: 22px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  background-position-x: 108%;
  
  cursor: pointer;
}

.favoritesActive {
  display: flex;
  background-image: url("../../../logo/image (7) (6).png");
  background-repeat: no-repeat;
  background-size: 40px 22px;
  width: 21.5px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  background-position-x: -5%;
}
