* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  border-radius: 50px;

  .App {
    background-color: #164f48;
    border-radius: 30px;
    width: 100%;
   
  }
}
