.header {
  width: 100%;
  background-color: #164f48;

  .upper_header_block {
    display: none;
  }

  .lower_header_block {
    display: flex;
    padding-bottom: 1%;

    .header_functional_elements {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1%;

      .menuImg {
        display: none;
      }
      .menuActive {
        display: none;
      }
      .menuNone {
        display: none;
      }
      .storeName {
        font-size: 2.8vw;
        cursor: pointer;

        .name_link {
          text-decoration: none;
          color: white;
        }
      }

      form {
        width: 50%;
        border: solid 1px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: white;

        .search_button {
          background-color: white;
          border: none;
          .search {
            width: 40%;
          }
        }

        .input {
          display: flex;
          padding: 2%;
          border: none;
          outline: none;
          border-radius: 5px;
        }
      }
      .login_basket_container {
        display: flex;
        width: 15%;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.4);
        font-size: 1.2vw;
        align-items: center;

        .login_basket {
          display: none;

          .login_basket_image {
            width: 10%;
          }

          &:hover {
            color: white;
          }
        }

        .address_block {
          display: flex;
          flex-direction: column;
          align-items: center;

          .address_image {
            width: 15%;
          }
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    .lower_header_block {
      .header_functional_elements {
        justify-content: space-around;
        margin: 0 0 1% 0;

        .storeName {
          .name_link {
          }
        }

        form {
          width: 40%;
          padding: 2px;

          .search_button {
            width: 10%;
            .search {
              width: 65%;
            }
          }

          .input {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .header {
    .upper_header_block {
      display: flex;
      .header_store_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        .store_logo {
          display: flex;
          width: 8%;
        }
      }
    }

    .lower_header_block {
      .header_functional_elements {
        justify-content: space-around;
        margin: 0 0 1% 0;

        .storeName {
          .name_link {
          }
        }

        form {
          width: 40%;
          padding: 2px;

          .search_button {
            width: 10%;
            .search {
              width: 45%;
            }
          }

          .input {
            width: 100%;
          }
        }

        .login_basket_container {
          .login_basket {
            display: flex;
            flex-direction: column;
            align-items: center;

            .login_basket_image {
              width: 30%;
            }
          }
          .address_block {
            .address_image {
              width: 30%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .header {
    .lower_header_block {
      .header_functional_elements {
        form {
          padding: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .header {
    .lower_header_block {
      .header_functional_elements {
        
        .menuActive {
          display: block;
          left: 0;
          position: fixed;
          transform: translate(0%);
          transition: 0.5s;
          height: 100%;
          width: 38%;
          background-color: white;
          top:0;
          z-index: 3;
      
        }
        .menuNone {
          display: block;
          left: 0;
          position: fixed;
          overflow-x: hidden;
          height: 100%;
          transform: translate(-100%);
          transition: 0.5s;
        }
        .menuImg {
          display: flex;
          width: 4%;
          border: solid 1px #ffffff66;
          padding: 0.1%;
          border-radius: 8px;
          cursor: pointer;
          &:hover {
            border-color: white;
          }
        }
        form {
          padding: 5px;
        }
      }
    }
  }
}
@media screen and (min-width: 1260px) {
  .header {
    .lower_header_block {
      .header_functional_elements {
        .menuActive {
          width: 23%;
      
        }
        .menuNone {
        }
        .menuImg {
        }
        form {
        }
      }
    }
  }
}
