.header {
    width: 100%;
    background-color: #164f48;

    .headerBloc1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .basket {
            width: 6%;
            height: 4%;
            margin-right: 2%;
            cursor: pointer;
        }

        .El_kutbiImg {
            display: none;
        }

        .menuImg {
            width: 15%;
            height: 7%;
            cursor: pointer;
        }

        .storeName {
            font-size: 7vw;
            color: white;
        }
    }


    .headerBloc2 {
        width: 100%;
        margin-left: -2%;


        div {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: flex-end;

            .catalog {
                display: none;
            }

            form {
                width: 70%;
                display: flex;
                align-items: center;
                background-color: white;
                margin-bottom: 1%;

                .input {
                    width: 90%;
                    height: 80%;
                    border: none;
                    margin: 1%;
                    outline: none;

                }

                .search_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 9%;
                    border-radius: 3px;
                    border: none;
                    background-color: white;
                    cursor: pointer;

                    .search {
                        width: 70%;
                        height: 70%;
                    }
                }
            }
        }


    }


}


@media screen and (min-width: 500px) {
    .header {
        .headerBloc1 {
            width: 100%;

            .menuImg {
                display: none;
            }

            .El_kutbiImg {
                display: flex;
                width: 9%;
                height: 8%;
            }

            .storeName {
                font-size: 5vw;
            }

            .basket {
                width: 4%;
                height: 3%;
                margin-right: 2%;
                cursor: pointer;
            }

        }

        .headerBloc2 {

            div {
                justify-content: center;

                .catalog {
                    display: flex;
                    align-items: center;
                    width: 6.3%;
                    margin-bottom: 1%;
                    background-color: blue;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    img {
                        width: 35%;
                        height: 90%;
                    }

                    p {
                        font-size: 1vw;
                    }
                }

                form {
                    display: flex;
                    width: 30%;
                    margin-left: 1%;
                    border: solid 1px;
                    height: 5%;


                    .search_button {

                        .search {
                            width: 60%;
                            height: 60%;

                        }

                    }

                    .input {
                        width: 100%;
                        padding: 2%;

                    }

                }

            }

        }

    }



}