.productListСontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  .productList {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, sans-serif;
    margin: 2%;
    font-size: 3vw;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    
    .productImageContainer {
      position: relative;
      width: 80%;
      .productImage {
        width: 100%;
      }
      display: flex;
      .favorites_button_container {
        position: absolute;
        right: 0;
      }
    }
    .productInfo {
      flex-basis: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }

    .booksAuthor {
      opacity: 70%;
      font-size: 2.5vw;
    }
    &:hover {
      box-shadow: 0px 0px 5px 5px #ffffff66(255, 255, 255, 255);
    }
  }
  .moreItemsButtonContainer {
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
}

@media screen and (min-width: 400px) {
  .productListСontainer {
    .productList {
      width: 40%;
      font-size: 2vw;
      .booksAuthor {
        font-size: 1.8vw;
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .productListСontainer {
    .productList {
      width: 25%;
      font-size: 2vw;
      .booksAuthor {
        font-size: 1.8vw;
      }
    }
  }
}
@media screen and (min-width: 650px) {
  .productListСontainer {
    .productList {
      .booksAuthor {
        font-size: 1.7vw;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .productListСontainer {
    .productList {
      width: 18%;
      font-size: 1.1vw;
      .booksAuthor {
        font-size: 1vw;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .productListСontainer {
    .productList {
      width: 15%;
      font-size: 1.1vw;
      .booksAuthor {
        font-size: 1vw;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .productListСontainer {
    .productList {
      width: 15%;
      font-size: 0.9vw;
      .productImageContainer {
        .favorites_button_container {
          display: none;
        }
      }

      .booksAuthor {
        font-size: 0.9vw;
      }

      .productButtonContainer {
        display: none;
      }

      &:hover {
        .favorites_button_container {
          display: flex;
        }
        .productButtonContainer {
          display: flex;
        }
      }
    }
  }
}
