.loadingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  img {
    width: 20%;
  }
}
.loginContainer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 95%;
  border-radius: 20px;
  font-size: 1vw;

  .loginBlock {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    .login_form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 58%;
      border: none;
      width: 91%;
      

      .inputBlock {
        display: flex;
        align-items: center;
        border-radius: 8px;
        width: 80%;
        padding: 6px;
        border: solid 1px;
        background-color: #fff;
        cursor: pointer;
        .inputImg {
          opacity: 0.4;
          width: 15%;
        }
        .input {
          width: 80%;
          padding: 8px;
          border: none;
          outline: none;
          color: #000000;
          cursor: pointer;
          -webkit-box-shadow: 0 0 0 30px white inset;

          &::-ms-reveal {
            width: 0;
            height: 0;
          }
        }

        .spanInputArrowImage {
          display: block;
          background-image: url("../../../logo/down_icon-icons.com_61209.png");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .loginMenu {
          background-color: #fff;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          width: 27%;
          height: 15%;
          padding-bottom: 1%;
          position: absolute;
          left: 36.5%;
          top: 48%;
          z-index: 1;
          transition: 1s;
          transform-origin: top center;
          transform: scale(1);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .loginMenuBlock {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            .inputMenuImg {
              opacity: 0.4;
              width: 15%;
              margin-left: 9px;
              cursor: pointer;
            }
          }
          .menuLinkBlock {
            width: 60%;
            margin-left: 5%;
            .linkSigninUp {
              display: flex;
              justify-content: space-around;
              text-decoration: none;
              align-items: center;
              color: black;
              &::before {
                content: "";
                display: block;
                background-image: url("../../../logo/1485969929-12-plus_78898\ \(1\).png");
                background-repeat: no-repeat;
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
              }
              &:hover {
                color: #164f48;
              }
            }
          }
        }
        .loginMenuNone {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #fff;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          width: 27%;
          height: 15%;
          position: absolute;
          left: 36.5%;
          top: 48%;
          z-index: 1;
          transition: 1s;
          transform-origin: top center;
          transform: scaleY(0);
          border-radius: 8px;
          .loginMenuBlock {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            .inputMenuImg {
              opacity: 0.4;
              width: 15%;
              margin-left: 9px;
              cursor: pointer;
            }
          }
          .menuLinkBlock {
            width: 60%;
            margin-left: 5%;
            .linkSigninUp {
              display: flex;
              justify-content: space-around;
              text-decoration: none;
              align-items: center;
              color: black;
              &::before {
                content: "";
                display: block;
                background-image: url("../../../logo/1485969929-12-plus_78898\ \(1\).png");
                background-repeat: no-repeat;
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
              }
              &:hover {
                color: #164f48;
              }
            }
          }
        }
        .inputSpanNoEye {
          display: block;
          background-image: url("../../../logo/symbol_icon-icons.com_57844.png");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .inputSpanEye {
          display: block;
          background-image: url("../../../logo/slash-on-it_icon-icons.com_57783.png");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      .submit {
        width: 80%;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #164f48;
        font-size: 1vw;
      }
    }
    .inputCheckboxContainer {
      display: flex;
      justify-content: space-around;
      width: 55%;
      .linkAgreement {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        font-size: 1.2vw;
        &:hover {
          color: #164f48;
        }
        &::before {
          content: "";
          background-image: url("../../../logo/Tick_Mark_icon-icons.com_69146.png");
          background-repeat: no-repeat;
          background-size: 15px 15px;
          width: 25px;
          height: 25px;
        }
      }
      .linkHome {
        font-size: 1.2vw;
        text-decoration: none;
        color: black;
        &:hover {
          color: #164f48;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        height: 50%;
        .inputBlock {
          padding: 3px;
          .input {
            width: 80%;
          }
          .spanInputArrowImage {
            background-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
          .inputSpanNoEye {
            background-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
          .inputSpanEye {
            background-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
          .loginMenu {
            top: 47.8%;
            height: 13%;
            .loginMenuBlock {
              .inputMenuImg {
                margin-left: 1%;
              }
            }
            .menuLinkBlock {
              margin-left: 8px;
              .linkSigninUp {
                font-size: 1vw;
              }
            }
          }
          .loginMenuNone {
            top: 47.8%;
            .loginMenuBlock {
              .inputMenuImg {
                margin-left: 5px;
              }
            }
            .menuLinkBlock {
              margin-left: 8px;
              .linkSigninUp {
                font-size: 1vw;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 938px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          .input {
          }
          .loginMenu {
            top: 47.4%;
            height: 12%;
          }
          .loginMenuNone {
            top: 47.4%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          padding: 2px;

          .spanInputArrowImage {
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
          }
          .inputSpanNoEye {
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
          }
          .inputSpanEye {
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
          }
          .loginMenu {
            top: 47%;
            height: 12%;

            .menuLinkBlock {
              margin-left: 9px;
              .linkSigninUp {
                font-size: 1.1vw;
              }
            }
          }
          .loginMenuNone {
            top: 47%;
            .menuLinkBlock {
              margin-left: 9px;
              .linkSigninUp {
                font-size: 1.1vw;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .loginContainer {
    font-size: 2vw;
    .loginBlock {
      width: 55%;
      height: 50%;
      .login_form {
        .inputBlock {
          padding: 2px;
          .loginMenu {
            top: 48.8%;
            width: 37%;
            margin-left: -5%;
            .loginMenuBlock {
              .inputMenuImg {
                margin-left: 5px;
              }
            }
            .menuLinkBlock {
              margin-left: 8px;
              .linkSigninUp {
                font-size: 1.5vw;
              }
            }
          }
          .loginMenuNone {
            width: 37%;
            margin-left: -5%;
            top: 48.8%;
            .loginMenuBlock {
              .inputMenuImg {
                margin-left: 5px;
              }
            }
            .menuLinkBlock {
              margin-left: 8px;
              .linkSigninUp {
                font-size: 1.5vw;
              }
            }
          }

          .input {
            padding: 0;
          }
        }
        .submit {
          font-size: 2.4vw;
        }
      }
      .inputCheckboxContainer {
        width: 78%;
        .linkAgreement {
          font-size: 2vw;
        }
        .linkHome {
          font-size: 2vw;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          .loginMenu {
            top: 48.5%;
            .menuLinkBlock {
              margin-left: 2.5%;
              .linkSigninUp {
                font-size: 1.5vw;
              }
            }
          }
          .loginMenuNone {
            top: 48.5%;

            .menuLinkBlock {
              margin-left: 2.5%;
              .linkSigninUp {
                font-size: 1.5vw;
              }
            }
          }

          .input {
            padding: 0;
          }
          padding: 2px;
        }
        .submit {
          font-size: 2.4vw;
        }
      }
      .inputCheckboxContainer {
        width: 78%;
        .linkAgreement {
          font-size: 2vw;
        }
        .linkHome {
          font-size: 2vw;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          .loginMenu {
            top: 48%;
          }
          .loginMenuNone {
            top: 48%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          .loginMenu {
            top: 47.5%;
          }
          .loginMenuNone {
            top: 47.5%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .loginContainer {
    .loginBlock {
      .login_form {
        .inputBlock {
          .loginMenu {
            top: 47%;
          }
          .loginMenuNone {
            top: 47%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .loginContainer {
    .loginBlock {
      height: 35%;
      .login_form {
        height: 50%;
        .inputBlock {
          .loginMenu {
            margin-left: -5%;
            top: 48.5%;
            height: 8%;
            .menuLinkBlock {
              margin-left: 3.5%;
              .linkSigninUp {
                font-size: 1.6vw;
              }
            }
          }
          .loginMenuNone {
            margin-left: -5%;
            top: 48.5%;
            .menuLinkBlock {
              margin-left: 3.5%;
              .linkSigninUp {
                font-size: 1.6vw;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .loginContainer {
    .loginBlock {
      height: 35%;
      .login_form {
        height: 50%;
        .inputBlock {
          .loginMenu {
            top: 47.5%;
            }
          }
          .loginMenuNone {
            top: 47.5%;
        }
    
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .loginContainer {
    .loginBlock {
      height: 35%;
      .login_form {
        height: 50%;
        .inputBlock {
          .loginMenu {
            top: 47%;
            }
          }
          .loginMenuNone {
            top: 47%;
        }
    
      }
    }
  }
}
