.header {
  width: 100%;
  background-color: #164f48;

  .store_logo {
    width: 40%;
    border: none
  }

  .lower_header_block {
    display: flex;
    padding-bottom: 1%;
  }

  .header_functional_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_functional_block {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
  }

  .storeName {
    font-size: 2.8vw;
    cursor: pointer;
  }

  .name_link {
    text-decoration: none;
    color: white;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
  }

  .login_basket_container {
    display: none;
  }


  .login_basket {
    display: none;

    &:hover {
      color: white;
    }
  }

  .login_basket_image {
    width: 10%;
  }
}


@media screen and (min-width: 1023px) {
  .header {


    .lower_header_block {
      display: flex;
      padding-bottom: 0;
      justify-content: center;
    }

    .header_functional_wrapper {
      width: 100%;
      justify-content: space-between;
    }



    .login_basket_image {
      width: 25%;
    }


    .login_basket_container {
      display: flex;
      width: 20%;
      justify-content: space-between;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.4);
      align-items: center;
      font-size: 1.2vw;
      padding: 32px;

    }

    .login_basket {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .header_functional_block {
      margin: 0;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1023px) {

  .header {

    .store_logo {
      width: 45%;
    }

    .storeName {
      display: none;
    }

    .login_basket_container {
      display: none;
    }

    .header_functional_block {
      width: 90%;
      justify-content: space-between;

    }

    .header_functional_wrapper {
      width: 100%;
      // justify-content: space-between;
 
    }

  }

}

@media screen and (max-width: 550px) {
  .header {
    .store_logo {
      width: 70%;
    }
  }
}