.loadingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  img {
    width: 20%;
  }
}
.wrapperPersonalAccount {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .personalAccountBlock {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    min-height: 50vh;

    box-shadow: 2px 2px 5px 5px rgba(148, 126, 126, 0.425);
    border-radius: 5px;
    width: 95%;
    .personalAccountInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      font-size: 1vw;
      .infoHeaderBlock {
        font-weight: bold;
        display: flex;
        .personalInfoLink {
          text-decoration: none;
          color: black;
          font-size: 1.5vw;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::after {
            content: "";
            display: block;
            background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23BDBDCB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12.407.258a.89.89%200%200%201%201.253%200l2.08%202.08a.885.885%200%200%201%200%201.253l-1.627%201.626-3.332-3.333L12.407.258ZM0%2012.665l9.83-9.83%203.333%203.333-9.83%209.83H0v-3.333Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            background-size: 80% 80%;
            width: 15px;
            height: 15px;
          }
          &:hover {
            color: #164f48;
            filter: sepia(2) hue-rotate(79deg) saturate(4);
          }
        }
      }
    }

    .orderBlock {
      width: 20%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1vw;
      a {
        text-decoration: none;
        &:hover {
          color: #164f48;
        }
      }
    }
    .settingsBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20%;
      align-items: center;
      font-size: 1vw;
      .buttonExitContainer {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 32%;

        .buttonExit {
          background-color: #fff;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .deleteUserWrapperNone {
    display: none;
  }
  .deleteUserWrapperActive {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    padding: 2%;
    background: rgba(165, 164, 164, 0.5);
  }
}

@media screen and (max-width: 1054px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      box-shadow: none;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 90%;
      margin-top: 2%;
      .personalAccountInfo {
        padding: 3%;
        box-shadow: 2px 2px 5px 5px rgba(148, 126, 126, 0.425);
        border-radius: 20px;
        width: 90%;
        font-size: 2vw;
        .infoHeaderBlock {
          width: 30%;
          justify-content: space-between;
          .personalInfoLink {
            font-size: 1.7vw;
          }
        }
      }
      .orderBlock {
        padding: 3%;
        box-shadow: 2px 2px 5px 5px rgba(148, 126, 126, 0.425);
        border-radius: 20px;
        min-width: 90%;
        font-size: 2vw;
        align-items: flex-start;
      }
      .settingsBlock {
        padding: 3%;
        box-shadow: 2px 2px 5px 5px rgba(148, 126, 126, 0.425);
        border-radius: 20px;
        min-width: 90%;
        font-size: 2vw;
        align-items: flex-start;
        .buttonExitContainer {
          justify-content: flex-start;
        }
      }
    }
  }
}
@media screen and (max-width: 950px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      min-height: 70vh;
      .personalAccountInfo {
        font-size: 2vw;
      }
      .orderBlock {
        font-size: 2vw;
      }
      .settingsBlock {
        font-size: 2vw;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      min-height: 60vh;
      .personalAccountInfo {
        .infoHeaderBlock {
          .personalInfoLink {
            font-size: 1.7vw;
            &::after {
              width: 13px;
              height: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      min-height: 50vh;
    }
  }
}
@media screen and (max-width: 560px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      min-height: 40vh;
      .personalAccountInfo {
        font-size: 2.5vw;
        .infoHeaderBlock {
          width: 50%;
          .personalInfoLink {
            font-size: 2.5vw;
            &::after {
            }
          }
        }
      }
      .orderBlock {
        font-size: 3vw;
      }
      .settingsBlock {
        font-size: 3vw;
      }
    }
    .deleteUserWrapperActive {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapperPersonalAccount {
    .personalAccountBlock {
      min-height: 40vh;
      .personalAccountInfo {
        font-size: 2.3vw;
      }
      .orderBlock {
        font-size: 2.3vw;
      }
      .settingsBlock {
        font-size: 2.5vw;
      }
    }
  }
}
